<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BriTech (Result Portal) </title>
</head>
<body>
    <div class="login">
        <h1> BriTech Result Portal</h1> 
        <p>Check your result here.</p> 
        <button type="submit"><a href="/signin">Check Result</a></button>
    </div>
    
</body>
</html>