<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BriTech (Result Portal)</title>
</head>
<body>
    <div>
        <h1>login your details</h1>
        <form action="index" method="post">
            <input type="text" placeholder="studentID">
            <input type="password" placeholder="userpassword">
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>