<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BriTech (Result Portal)</title>
</head>
<body>
    <div>
        <form action="index" method="post">
            <input type="text" placeholder="studentID">
            <input type="password" placeholder="userpassword">
        </form>
    </div>
</body>
</html>